#inicio {
    width: 270px;
    margin: auto;
}
#busqueda{
    background-color: yellow;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0px 15px;
	border: 1px solid #696969;
}
#busqueda img{
	max-width: 230px;
}

#mensaje{
	background-color: #FFE680;
	border-radius: 15px 15px 0px 15px;
	text-align: center;
	
}
	
#resultados{
    padding: 10px;
    background-color: gold;
    margin-bottom: 2px;
    border-radius: 15px 0px 0px 0px;
}

#resultados img {
    float: right;
	max-height: 40px;
	
}